
/* Загальні стилі */


body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: var(--main-backgrounds-color);
    overflow-x: hidden;
  }

  a {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* Відключає підкреслення посилань */
  }

  p {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
  }

  label, input,  button {
    font-family: 'Roboto', sans-serif;
  }

  ul, ol {
    list-style-type: none;
    padding-left: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoSlab-Bold', serif;
    font-weight: bold; /* Задає жирний шрифт для заголовків */
    margin-top: 0; /* Видаляє верхній відступ заголовків */
    margin-bottom: 1rem; /* Додає нижній відступ для заголовків */
    color: var(--primary-color);
  }

  .container {
    max-width: 1500px; /* Задає максимальну ширину контейнера */
    margin-left: auto; /* Автоматично вирівнює контейнер по лівому краю */
    margin-right: auto; /* Автоматично вирівнює контейнер по правому краю */
    padding-left: 10px; /* Задає внутрішній відступ зліва контейнера */
    padding-right: 10px; /* Задає внутрішній відступ справа контейнера */
  }

  /* END Загалальні стилі */

  /* Стилі для хедера */

.header-section {
  min-height: 100vh;
  margin-bottom: 40px;
}

.header-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/headerBg.jpg');
  background-position: center;
  background-size: cover;
  opacity: 0.75; /* Значення від 0 до 1, де 0 - повна прозорість, 1 - повна непрозорість */
  z-index: -1;
}
  


.header {
    padding: 20px; /* Задає відступи всередині хедера */
    margin-bottom: 15px;
}

.header .container {
    display: flex; /* Задає блочне відображення для елементів хедера */
    align-items: center; /* Вирівнює елементи хедера по вертикалі */
    justify-content: space-between; /* Розташовує елементи хедера на краях */
    min-height: 100px;
  }

  .logo {
    position: relative;
  }

  .header__logo__link__img {
      display: block;
      min-width: 20%;
      width: 155px;
  }
  
  
  .menu {
    display: flex; /* Задає блочне відображення для меню */
    list-style-type: none; /* Видаляє маркування у списку меню */
    align-items: center;
    padding: 0;
    gap: 45px;
  }
  
  .menu__item {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu__item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }
  
  .menu__item:hover::after {
    transform: scaleX(1);
  }

  
  .contact-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .contact-button::after {
    content: none;
  }

  .contact-button:hover {
    background-color: var(--primary-color);
  }

  .contact-button:hover a {
    color: var(--main-backgrounds-color);
  }

  .menu__item.active .menu__item__link {
    color: var(--active-color);
  }
  

  .menu__item__link {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  


  /* END Стилі для хедера */

  /* Стилі для сompany section*/

  .company-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh; /* Задайте висоту за потребою */
    max-height: 75vh;
  }
  
  .company-section .container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
  }
  
  .company-section h1 {
    font-size: 64px; /* Задайте розмір шрифту за потребою */
    
  }
  
  .company-section p {
    font-size: 24px; /* Задайте розмір шрифту за потребою */
    line-height: 38px;
  }

  .company-section__more {
    padding: 15px 35px;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
  }

  .company-section__more:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }
  /* END Стилі для сompany section*/

  /* Стилі для products-title */

  .products-title {
    padding: 40px 0;
  }

  .products-title .container {
    text-align: center;
  }

  .products-title__title {
    font-size: 46px;
    line-height: 50px;
  }

  .products-title__text {
    font-size: 24px;
    line-height: 26px;
  }

  /* END Стилі для products-title */

  /* Стилі для products-section */

  .products-section {
    padding: 40px 0;
    padding-bottom: 0;
  }
  
  .products-section .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products-section__block {
    width: calc(33.33% - 20px);
    min-height: 350px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 40px;
    transition: transform 0.3s; /**/
  }

  #products__foamRubber {
    background-image: url(../images/products/foamRubber2.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    /* background-position-x: center ;
    background-position-y: bottom ; */
    background-size: cover;
  }

  #products__nonWovenMaterials {
    background-image: url(../images/products/nonWovenMaterials.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -240px;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__springs {
    background-image: url(../images/products/springBlock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__siliconeBall {
    background-image: url(../images/products/siliconeBall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__foamFiller {
    background-image: url(../images/products/foamFiller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__glues {
    background-image: url(../images/products/glues.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-position-y: bottom ;
    background-position-x: center;
  }

  .products-section__block:hover {/**/
    transform: scale(1.1);
  }
  
  .products-section__content {
    margin: 5%;
    text-align: center;
    
  }
  
  .products-section__content__title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  .products-section__content__description {
    font-size: 16px;
    line-height: 1.6;
    text-align: start;
  }
  
  /* END Стилі для products-section */

  /* Стилі для products-button */
  .products-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }


  .products-button__link{
    display: inline-block;
    padding: 15px 175px;
    background-color: var(--main-backgrounds-color);
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
    line-height: 20px;
    
  }
  
  .products-button__link:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }

  /* END Стилі для products-button */

  /* Стилі для map */

  .map {
    margin-bottom: 100px;
  }


  /* END Стилі для map */

  /* Стилі для footer */

  .footer {
    padding: 60px 0;
  }

  .footer .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5vw;
  }

  .footer__item {
    max-width: calc(33% - 10px);
  }

  .footer__item__title {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  .footer__item__text {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px;
  }

  .footer__item__info {
    font-size: 18px;
    line-height: 2;
  }

  .footer__item__info address {
    font-style: italic;
    font-family: 'Roboto-italic';
  }

  .footer__item__info ul {
    margin: 0;
    padding: 0;
  }

  .contact-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .form-row {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* width: calc(50% - 15px); */
    width: 50%;
    margin-bottom: 15px;
    position: relative;
  }
  .form-group::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--primary-color);
    transform: scaleY(1);
    transition: transform 0.3s ease;
  }
  
  .form-group:hover::after, 
  .form-group textarea:focus + label::after,
  .form-group input:focus + label::after
   {
    transform: scaleY(2);
  }
  
  .form-group label {
    /* flex-basis: 30%; */
    text-align: left;
    padding-bottom: 15px;
  }
  
  .form-group input,
  .form-group textarea {
    flex-basis: 70%;
    border: none;
    /* border-bottom: 1px solid var(--primary-color); */
    /* min-height: 100%; */
    padding-bottom: 5px;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    /* border-color: var(--primary-color); */
    /* box-shadow: 0 0 2px var(--primary-color); */
}

  .form-group textarea {
    resize: none;
  }
  

  .form-group.full-width {
    width: 100%;
  }

  .contact-form__button {
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  .contact-form__button:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }

  .hidden {
    display: none;
  }


  .socials {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .socials .footer__item__title{
    margin-bottom: 0;
  }

  .socials ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .socials li a {
    position: relative;
    font-size: 18px;
  }
  .socials li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }

  .socials li:hover a::after {
    transform: scaleX(1);
  }
  
  

/* Стилі для products.html */

.products-header {
  margin-bottom: 0;
}

.header-section.products-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/ProductsBg');
  background-position: center;
  background-size: cover;
  opacity: 0.6; /* Значення від 0 до 1, де 0 - повна прозорість, 1 - повна непрозорість */
  z-index: -1;
}

/* Стилі для titles */

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  margin-bottom: 40px;
}

.titles .container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}


.titles__title {
  font-size: 65px;
  margin-bottom: 20px;
}

.titles__text {
  font-size: 24px;
}

/* END Стилі для titles */

/*  Стилі для goods */

.goods {
  background-color: var(--secondary-color);
  padding-bottom: 40px;
}


.goods__search {
  display: flex;
  justify-content: center;
  align-items: center; /* Додаємо вирівнювання по вертикалі */
  flex-direction: column;
  padding: 35px 0;
  position: relative;
}

.goods__search__input {
  width: 70%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box; /* Запобігає зміні розміру інпута при виборі з підказки */
  margin-bottom: 20px;
}


#searchInput {
  border: 1px solid var(--primary-color);
}



/* Стилізація підказки для інпуту з пошуком */

.suggestions__container {
  position: relative;
  width: 70%; /* Задайте бажану ширину контейнера .suggestions */
  margin-top: 30px; /* Встановіть бажаний відступ від інпуту внизу */
}

.suggestions {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий контейнер */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); /* Тінь для контейнера */
  border-radius: 5px; /* Закруглені кути контейнера */
  padding: 5px 10px; /* Відступи всередині контейнера */
  top: -45px; /* Відступ від інпута */
  left: 0;
  opacity: 0;
  pointer-events: none; /* Забороняємо взаємодію з невидимим блоком */
  transition: opacity 0.2s ease;
}

.suggestions.active {
  display: flex; /* Змінюємо display на flex, щоб використовувати Flexbox */
  flex-direction: column; /* Дозволяємо підказці переносити елементи на наступний рядок, якщо не вистачає місця */
  justify-content: center; /* Вирівнюємо елементи підказки по лівому краю */
  align-items: flex-start; /* Вирівнюємо елементи по вертикалі по центру */
  opacity: 1;
  pointer-events: auto;
}

.suggestions option {
  display: block;
}

.suggestion {
  cursor: pointer; /* Змінює вигляд курсору при наведенні на елемент підказки */
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
}

.suggestion:hover {
  background-color: blue;
}

.goods__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.goods__products__filters {
  margin: 15px 0;
  flex: 0 0 auto;
  margin-right: 20px;
}

.goods__products__filters__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.goods__products__filters__list__item label {
  font-size: 18px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}


.goods__products__filters__list__item__text {
  position: relative;
}


.goods__products__filters__list__item input {
  cursor: pointer;
}

.goods__products__filters__list__item__text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.goods__products__filters__list__item label:hover .goods__products__filters__list__item__text:after {
  transform: scaleX(1);
  cursor: pointer;
}



.goods__products__list {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.goods__product {
  text-align: left;
  background-color: var(--main-backgrounds-color);
  padding: 20px 15px;
  text-align: center;
  width: calc(90% - 20px);
  height: calc(90% - 20px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods__product__image {
  display: flex;
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центруван`ня по вертикалі */
  height: 60%;
  width: 90%;
  margin-bottom: 15px;
}

.goods__product__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.goods__product__title {
  font-size: 18px;
  /* margin-top: 10px; */
}

.goods__product__size {
  font-size: 14px;
}

.goods__product__color {
  font-size: 14px;
}

.goods__product__footage {
  font-size: 14px;
}

.goods__product__details {
  font-size: 14px;
}

.goods__product__price {
  font-size: 22px;
  font-weight: bold;
  /* margin-top: 10px; */
}


/*  Стилі для goods */

/* END Стилі для products.html */


/* AboutUS */

.header-section.aboutUs {
  background-image: none;
}

.header-section.aboutUs::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/AboutUsBG4');
  background-position: center;
  background-size: cover;
  opacity: 0.6; /* Значення від 0 до 1, де 0 - повна прозорість, 1 - повна непрозорість */
  z-index: -1;
}


.header-section__content .container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}


.header-section__content__title {
  text-align: center;
  font-size: 45px;
}

.header-section__content__description {
  font-size: 18px;
  line-height: 36px;
}

/* END AboutUS */


/* Avaptive */

/* iPhone 8, SE (2nd generation): orientation: portrait */

@media (max-width: 375px) and (orientation: portrait) {

  .container {
    max-width: 355px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-section::before {
    opacity: 0.55;
  }

  .header {
    padding: 0;
    margin: 0;
  }

  .header .container {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .menu {
    gap: 15px;
  }

  .menu__item__link {
    font-size: 14px;
  }

  .contact-button {
    padding: 10px 10px;
  }

  .company-section {
    min-height: 70vh;
    max-height: 80vh;
  }

  .company-section .container {
    max-width: 340px;
    gap: 55px;
  }

  .company-section h1 {
    font-size: 50px;
  }

  .company-section p {
    font-size: 16px;
    line-height: 26px;
  }

  .company-section__more {
    padding: 15px 30px;
    font-size: 16px;
    /* border-width: 1px; */
  }


  .products-title {
    padding: 20px;
  }

  .products-title__title {
    font-size: 34px;
  }

  .products-title__text {
    font-size: 16px;
    line-height: 20px;
  }


  .products-section {
    padding: 20px;
  }

  .products-section .container {
    gap: 15px;
  }

  .products-section__block {
    width: calc(50% - 10px);
    min-height: 200px;
    margin-bottom: 0;
  }

  .products-section__content {
    margin-top: 40%;
  }

  #products__foamRubber {
    background-color: none;
    background-blend-mode: normal;
  }

  #products__nonWovenMaterials {
    background-position-y: -130px;
    background-size: 250px;
  }

  #products__glues {
    background-size: 75%;
  }

  .products-section__content__title {
    margin-bottom: 0;
    font-size: 18px;
  }


  .products-button {
    margin-top: 25px;
    margin-bottom: 60px;
  }

  .products-button__link {
    font-size: 14px;
    padding: 15px 120px;
  }


  .map {
    margin-bottom: 30px;
  }
  
  #map-frame {
    height: 350px;
  }


  .footer {
    padding: 40px 0;
  }

  .footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }

  .footer__item {
    max-width: calc(100% - 25px);
  }

  .footer__item__title {
    text-align: center;
    font-size: 24px;
  }

  .footer__item__info {
    font-size: 16px;
  }

  .footer__item__info address {
    margin-bottom: 25px;
  }

  .contact-form h3 {
    margin-bottom: 40px;
  }

  .contact-form form {
    gap: 15px;
  }

  .form-row {
    gap: 20px;
  }

  .form-group {
    width: calc(50% - 15px);
  }

  .form-group label {
    font-size: 14px;
  }

  .contact-form__button {
    margin: 0 auto;
  }

  .socials li a {
    font-size: 16px;
  }


/* AboutUs page*/

  .header-section__content .container {
    max-width: 340px;
    gap: 15px;
  }

  .header-section__content__title {
    font-size: 35px;
  }

  .header-section__content__description {
    font-size: 14px;
    line-height: 26px;
  }

/*Products page*/

  .header-section.products-header::before {
    opacity: 0.5;
  }

  .titles {
    margin-bottom: 0;
    height: 55vh;
  }

  .titles .container {
    max-width: 340px;
  }

  .titles__title {
    font-size: 50px;
  }

  .titles__text {
    font-size: 16px;
  }

  .goods__search {
    padding-bottom: 0;
  }

  .goods__search__input {
    width: 80%;
    font-size: 14px;
    margin-bottom: 0;
  }

  .suggestions__container {
    width: 80%;
    margin-top: 50px;
  }

  .suggestions {
    max-height: 250px;
  }

  .suggestions.active {
    z-index: 2;
  }


  .goods__products {
    flex-direction: column;
  }

  .goods__products__filters {
    margin: 0 0 15px 0;
  }

  .goods__products__filters__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .goods__products__filters__list__item label {
    font-size: 14px;
  }

  .goods__products__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .goods__product {
    width: calc(90% - 5px);
    height: calc(90% - 5px);
    display: block;
    padding: 10px 10px;
  }

  .goods__product__image {
    height: 65%;
    margin-bottom: 15px;
  }

  .goods__product__title {
    font-size: 14px;
  }

  .goods__product__size {
    font-size: 12px;
  }

  .goods__product__color {
    font-size: 12px;
  }

  .goods__product__footage {
    font-size: 12px;
  }
}

/* iPhone 8, SE (2nd generation): orientation: landscape */

  @media (max-width: 667px) and (orientation: landscape) {

    .container {
      max-width: 640px;
    }

    .header-section {
      margin-bottom: 20px;
    }

    .header-section::before {
      opacity: 0.55;
      background-size: 200%;
    }

    .header {
      padding: 0;
      margin: 0 0 20px 0;
      max-width: 100%;
    }

    .logo {
      margin: 0;
      width: 33%;
    }

    .header__logo__link__img {
      width: 85%;
    }

    .menu {
      gap: 35px;
    }

    .menu__item__link {
      font-size: 14px;
    }

    .company-section {
      max-height: 45vh;
    }

    .company-section .container {
      gap: 5px;
      max-width: 600px;
    }

    .company-section h1 {
      font-size: 38px;
    }

    .company-section p {
      font-size: 14px;
      line-height: 24px;
    }

    .company-section__more {
      padding: 10px 25px;
      border-width: 1px;
      font-size: 14px;
    }


    .products-title {
      padding: 45px 0 10px 0;
    }

    .products-title__title {
      font-size: 26px;
      line-height: 30px;
    }

    .products-title__text {
      font-size: 16px;
      line-height: 20px;
    }



    .products-section {
      padding: 0;
      margin-bottom: 40px;
    }

    .products-section .container {
      gap: 15px;
    }

    .products-section__block {
      min-height: 150px;
      margin-bottom: 0;
    }

    #products__foamRubber, #products__nonWovenMaterials,
    #products__springs, #products__siliconeBall,
    #products__foamFiller {
      background-blend-mode: normal;
    }

    #products__nonWovenMaterials {
      background-size: 200px;
      background-position-y: -100px;
    }

    .products-section__content__title {
      font-size: 16px;
      margin-bottom: 0;
    }


    .products-button {
      margin-bottom: 70px;
    }

    .products-button__link {
      padding: 10px 100px;
      font-size: 16px;
    }


    .map {
      margin-bottom: 0;
    }

    #map-frame {
      height: 250px;
    }


    .footer .container {
      flex-direction: column;
      align-items: center;
      gap: 10vw;
    }

    .footer__item  {
      max-width: calc(90% - 10px);
    }

    .footer__item__title {
      text-align: center;
      font-size: 18px;
      line-height: 21px;
    }

    .footer__item__info {
      font-size: 14px;
    }

    .footer__item__info address {
      margin-bottom: 10px;
    }

    .contact-form__title {
      margin-bottom: 50px;
    }

    .contact-form form {
      gap: 5px;
    }

    .form-group label {
      font-size: 14px;
    }

    .contact-form__button {
      margin: 0 auto;
    }


    .socials {
      gap: 30px;
    }

    .socials li a {
      font-size: 14px;
    }


  /* AboutUs page */
  
    .header-section__content .container {
    max-width: 600px;
    gap: 5px;
    }

    .header-section__content__title {
      font-size: 24px;
    }

    .header-section__content__description {
      font-size: 14px;
      line-height: 20px;
    }


/* Products page*/

    .header-section.products-header {
      margin-bottom: 0;
    }

    .titles {
      margin-bottom: 0;
    }

    .titles .container {
      max-width: 640px;
    }

    .titles__title {
      font-size: 38px;
    }

    .titles__text {
      font-size: 16px;
    }

    .goods__search {
      padding-bottom: 0;
    }

    .goods__search__input {
      font-size: 12px;
    }

    .suggestions {
      max-height: 160px;
      z-index: 2;
    }

    .suggestions.active {
      justify-content: flex-start;
      overflow-y: scroll;
    }

    .goods__products {
      flex-direction: column;
    }

    .goods__products__filters {
      margin: 0;
    }

    .goods__products__filters__list {
      flex-direction: row;
      gap: 25px;
      flex-wrap: wrap;
    }

    .goods__products__filters__list__item label {
      font-size: 14px;
      gap: 5px;
    }

    .goods__products__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .goods__product {
      height: calc(85% - 10px);
      width: calc(85% - 10px);
      padding: 10px 15px;
      justify-content: flex-start;
    }

    .goods__product__image {
      height: 60%;
      width: 90%;
    }

    .goods__product__title {
      font-size: 14px;
      margin-bottom: 0;
    }
    
    .goods__product__size {
      font-size: 12px;
      margin-bottom: 0;
    }

    .goods__product__color {
      font-size: 12px;
      margin-bottom: 0;
    }

    .goods__product__footage {
      font-size: 12px;
    }

  }


@media screen and  (min-width: 768px) and (max-width: 1023px) {

  .header-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
  }

  .header-section::before {
    opacity: 0.55;
  }

  .header {
    padding: 20px 0 0 0;
    margin: 0;
  }
  
  .container {
    max-width: 730px;
    }

  .logo {
    margin-left: 0;
    }

  .header__logo__link__img {
    width: 120px;
    }

  .menu {
    gap: 22px;
    }
    
  .menu__item__link {
    font-size: 14px;
    }

  .company-section .container {
    max-width: 620px;
  }

  .company-section h1 {
    font-size: 40px;
  }

  .company-section p {
    font-size: 16px;
    line-height: 26px;
  }
  
  .company-section__more {
    font-size: 16px;
    padding: 10px 30px;
  }

  .products-title {
    padding: 30px 0;
  }

  .products-title__title {
    font-size: 36px;
    line-height: 40px;
  }

  .products-title__text {
    font-size: 16px;
    line-height: 20px;
  }

  .products-section__block {
    min-height: 270px;
    margin-bottom: 30px;
  }

  .products-section__content__title {
    font-size: 22px;
  }

  #products__nonWovenMaterials {
    background-size: 320px;
    background-position-y: -157px;
  }

  .products-button {
    margin-bottom: 75px;
  }

  .products-button__link {
    padding: 10px 150px;

  }

  #map-frame {
    height: 400px;
  }

  .footer__item__info {
    font-size: 14px;
  }

  .footer__item__title {
    font-size: 18px;
  }

  .footer__item {
    max-width: calc(33% - 5px);
  }

  .footer__item__text {
    font-size: 12px;
  }

  .contact-info {
    max-width: 25%;
  }

  .contact-form {
    max-width: 40%;
    margin-right: 25px;
  }

  .contact-form form {
    font-size: 14px;
  }

  .socials li a {
    font-size: 14px;
  }

  /* Procuts page */

  .header-section.products-header::before {
    opacity: 0.55;
  }

  .titles {
    height: 30vh;
    margin-bottom: 15px;
  }


  .titles__title {
    font-size: 40px;
  }

  .titles__text {
    font-size: 16px;
  }

  .goods__products__filters__list__item {
    max-width: 130px;
  }


  .goods__products__filters__list__item label {
    font-size: 16px;
  }

  .goods__products__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .goods__product {
    padding: 10px 10px;
    justify-content: flex-start;
    max-height: 225px;
  }

  .goods__product__image {
    height: 60%;
    width: 90%;
  }

  .goods__product__title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .goods__product__size {
    font-size: 14px;
    margin-bottom: 0;
  }

  .goods__product__color {
    font-size: 14px;
  }

  .goods__product__footage {
    font-size: 14px;
  }

/* AboutUs page*/

  .header-section__content .container {
    max-width: 550px;
  }

  .header-section__content__title {
    font-size: 30px;
  }

  .header-section__content__description {
    font-size: 14px;
    line-height: 24px;
  }

/* Products page*/

  .titles .container {
    max-width: 730px;
  }
  
}

/* Стилі для laptop екранів комп'ютерів */

@media screen and  (min-width: 1024px) and (max-width: 1439px) {
  .header {
    margin-bottom: 35px;
  }

  .container {
    max-width: 900px;
  }

  .logo {
    margin-left: 0;
  }

  .header__logo__link__img {
    width: 135px;
  }

  .menu {
    gap: 22px;
  }

  .menu__item__link {
    font-size: 14px;
  }

  .company-section .container {
    max-width: 620px;
  }

  .company-section h1 {
    font-size: 48px;
  }

  .company-section p {
    font-size: 16px;
    line-height: 24px;
  }

  .company-section__more {
    font-size: 16px;
    padding: 10px 30px;
  }

  .products-title {
    padding: 30px 0;
  }

  .products-title__title {
    font-size: 36px;
    line-height: 40px;
  }

  .products-title__text {
    font-size: 16px;
    line-height: 20px;
  }

  .products-section__block {
    min-height: 270px;
    margin-bottom: 30px;
  }

  .products-section__content__title {
    font-size: 22px;
  }

  #products__nonWovenMaterials {
    background-size: 320px;
    background-position-y: -157px;
  }

  #products__glues {
    background-size: 65%;
  }

  .products-button {
    margin-bottom: 75px;
  }

  .products-button__link {
    padding: 10px 150px;

  }

  #map-frame {
    height: 400px;
  }

  .footer__item__info {
    font-size: 14px;
  }

  .footer__item__title {
    font-size: 18px;
  }

  .footer__item {
    max-width: calc(33% - 5px);
  }

  .footer__item__text {
    font-size: 12px;
  }

  .contact-info {
    max-width: 25%;
  }

  .contact-form {
    max-width: 40%;
  }

  .contact-form form {
    font-size: 14px;
  }

  .socials li a {
    font-size: 14px;
  }

    /* Products page */

  .titles {
      height: 30vh;
      margin-bottom: 15px;
    }
  
  
  .titles__title {
      font-size: 48px;
    }
  
  .titles__text {
      font-size: 16px;
    }

  .goods__products__filters__list__item {
    max-width: 135px;
  }
  
  
  .goods__products__filters__list__item label {
      font-size: 16px;
    }
  
  .goods__products__list {
      grid-template-columns: repeat(3, 1fr);
    }
  
  .goods__product__title {
      font-size: 16px;
    }

/* AboutUs page*/

  .header-section__content__description {
    font-size: 16px;
    line-height: 28px;
  }

}

/* @media screen and  (min-width: 1024px) and (min-height: 745px) and (max-height: 788px) {
  .logo {
    margin-left: 20px;
  }
} */

/* Стилі для laptop L екранів комп'ютерів */

@media screen and (min-width: 1440px) and (max-width: 1699px) {
  .header {
    margin-bottom: 10px;
  }

  .container {
    max-width: 1200px;
  }

  .logo {
    
  }

  .header__logo__link__img {
    width: 145px;
  }

  .menu {
    gap: 30px;
  }

  .menu__item__link {
    font-size: 16px;
  }

  .company-section .container {
    max-width: 650px;
  }

  .company-section h1 {
    font-size: 56px;
  }

  .company-section p {
    font-size: 18px;
    line-height: 28px;
  }

  .company-section__more {
    font-size: 16px;
    padding: 10px 35px;
  }


  .products-title__title {
    font-size: 40px;
    line-height: 44px;
  }

  .products-title__text {
    font-size: 18px;
    line-height: 22px;
  }

  .products-section__block {
    min-height: 300px;
    margin-bottom: 35px;
  }

  .products-section__content__title {
    font-size: 24px;
  }

  #products__nonWovenMaterials {
    background-position-y: -190px;
  }

  #products__glues {
    background-size: 55%;
  }

  .products-button {
    margin-bottom: 90px;
  }

  .products-button__link {
    padding: 10px 150px;

  }


  .footer__item__info {
    font-size: 16px;
  }

  .footer__item__title {
    font-size: 20px;
  }

  .contact-form form {
    font-size: 14px;
  }

  .socials li a {
    font-size: 14px;
  }

  .footer {
    padding: 50px 0;
  }

  /* Prodits page */    
    
  .titles__title {
        font-size: 56px;
      }
    
  .titles__text {
        font-size: 18px;
      }
    
    
  .goods__products__filters__list__item label {
        font-size: 18px;
      }
    
  .goods__products__list {
        grid-template-columns: repeat(3, 1fr);
      }
    
  .goods__product__title {
        font-size: 16px;
      }

  .goods__product__image {
    height: 220px;
  }

/* AboutUs page*/

.header-section__content .container {
  max-width: 770px;
}

.header-section__content__description {
  font-size: 16px;
  line-height: 28px;
}

}

/* Стилі для більших екранів комп'ютерів */

@media screen and (min-width: 1700px) and (max-width: 1885px) {

  .logo {
    
  }

  .company-section .container {
    gap: 5px;
  }
  
}

/* Стилі для 4k екранів комп'ютерів */

@media (min-width: 2560px) {
  .header {
    margin-bottom: 50px;
  }
  
  .container {
    max-width: 1900px;
  }

  .header__logo__link__img {
    width: 210px;
  }

  .menu {
    gap: 60px;
  }

  .menu__item__link {
    font-size: 24px;
  }

  .contact-button {
    padding: 15px 30px;
    border-width: 2px;
  }

  .company-section .container {
    max-width: 960px;
  }

  .company-section h1 {
    font-size: 70px;
  }

  .company-section p {
    font-size: 28px;
    line-height: 1.5;
  }

  .company-section__more {
    padding: 20px 35px;
    font-size: 24px;
  }


  .products-title {
    padding: 60px 0;
  }

  .products-title__title {
    font-size: 54px;
    line-height: 58px;
  }

  .products-title__text {
    font-size: 28px;
    line-height: 30px;
  }

  .products-section__block {
    min-height: 400px;
    margin-bottom: 60px;
  }

  #products__nonWovenMaterials {
    background-position-y: -350px;
  }

  #products__glues {
    background-size: 50%;
  }


  .products-button {
    margin-bottom: 125px;
  }

  .products-button__link {
    font-size: 28px;
    line-height: 30px;
    padding: 20px 190px;
  }


  #map-frame {
    height: 550px;
  }


  .footer__item__text {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .footer__item__info {
    font-size: 22px;
  }

  .footer__item__title {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 100px;
  }

  .contact-form form {
    font-size: 22px;
    line-height: 26px;
    gap: 40px;
  }

  .contact-form__button {
    font-size: 22px;
    line-height: 26px;
    border-width: 2px;
  }

  .form-group::after {
    height: 2px;
  }

  .socials li a {
    font-size: 22px;
    line-height: 26px;
  }

  /* Products */

  .titles__title {
    font-size: 70px;
  }

  .titles__text {
    font-size: 28px;
  }

  .goods {
    padding-bottom: 65px;
  }

  .goods__search {
    padding: 55px 0;
  }

  #searchInput {
    border-width: 2px;
  }

  .goods__search__input {
    padding: 20px;
    font-size: 18px;
  }

  .goods__products__filters {
    margin: 20px 0;
    margin-right: 20px;
  }

  .goods__products__filters__list {
    gap: 20px;
  }

  .goods__products__filters__list__item label {
    font-size: 24px;
    gap: 8px;
  }

  .goods__products__filters__list__item input {
    height: 17px;
    width: 17px;
  }

  .goods__products__list {
    gap: 25px;
  }

  .goods__product {
    padding: 30px 15px;
    width: 80%;
  }

  .goods__product__image {
    height: 70%;
    width: 85%;
  }

  .goods__product__title {
    font-size: 24px;
  }

/* About US*/

  .header-section__content .container {
    max-width: 1000px;
  }

  .header-section__content__title {
    font-size: 70px;
  }

  .header-section__content__description {
    font-size: 28px;
    line-height: 46px;
  }
  
}



/*End Adaptive */