
/* Загальні стилі */


body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: var(--main-backgrounds-color);
  }

  a {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* Відключає підкреслення посилань */
  }

  p {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
  }

  label, input,  button {
    font-family: 'Roboto', sans-serif;
  }

  ul, ol {
    list-style-type: none;
    padding-left: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoSlab-Bold', serif;
    font-weight: bold; /* Задає жирний шрифт для заголовків */
    margin-top: 0; /* Видаляє верхній відступ заголовків */
    margin-bottom: 1rem; /* Додає нижній відступ для заголовків */
    color: var(--primary-color);
  }

  .container {
    max-width: 1500px; /* Задає максимальну ширину контейнера */
    margin-left: auto; /* Автоматично вирівнює контейнер по лівому краю */
    margin-right: auto; /* Автоматично вирівнює контейнер по правому краю */
    padding-left: 10px; /* Задає внутрішній відступ зліва контейнера */
    padding-right: 10px; /* Задає внутрішній відступ справа контейнера */
  }

  /* END Загалальні стилі */

  /* Стилі для хедера */

.header-section {
  min-height: 100vh;
  background-image: url(../images/headerBg.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
  


.header {
    padding: 20px; /* Задає відступи всередині хедера */
    margin-bottom: 15px;
}

.header .container {
    display: flex; /* Задає блочне відображення для елементів хедера */
    align-items: center; /* Вирівнює елементи хедера по вертикалі */
    justify-content: space-between; /* Розташовує елементи хедера на краях */
    min-height: 100px;
  }
  
  .logo {
    margin-left: 50px;
  }

  .header__logo__link__img {
      display: block;
      min-width: 20%;
      width: 300px;
  }
  
  
  .menu {
    display: flex; /* Задає блочне відображення для меню */
    list-style-type: none; /* Видаляє маркування у списку меню */
    align-items: center;
    padding: 0;
    gap: 45px;
  }
  
  .menu__item {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu__item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }
  
  .menu__item:hover::after {
    transform: scaleX(1);
  }

  
  .contact-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .contact-button::after {
    content: none;
  }

  .contact-button:hover {
    background-color: var(--primary-color);
  }

  .contact-button:hover a {
    color: var(--main-backgrounds-color);
  }

  .menu__item.active .menu__item__link {
    color: var(--active-color);
  }
  

  .menu__item__link {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  


  /* END Стилі для хедера */

  /* Стилі для сompany section*/

  .company-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh; /* Задайте висоту за потребою */
    max-height: 75vh;
  }
  
  .company-section .container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }
  
  .company-section h1 {
    font-size: 64px; /* Задайте розмір шрифту за потребою */
    
  }
  
  .company-section p {
    font-size: 24px; /* Задайте розмір шрифту за потребою */
    margin-bottom: 135px;
  }

  .company-section__more {
    padding: 15px 35px;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
  }

  .company-section__more:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }
  /* END Стилі для сompany section*/

  /* Стилі для products-title */

  .products-title {
    padding: 40px 0;
  }

  .products-title .container {
    text-align: center;
  }

  .products-title__title {
    font-size: 46px;
    line-height: 50px;
  }

  .products-title__text {
    font-size: 24px;
    line-height: 26px;
  }

  /* END Стилі для products-title */

  /* Стилі для products-section */

  .products-section {
    padding: 40px 0;
    padding-bottom: 0;
  }
  
  .products-section .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products-section__block {
    width: calc(33.33% - 20px);
    min-height: 350px;
    background-color: var(--secondary-color);
    margin-bottom: 40px;
    transition: transform 0.3s; /**/
  }

  #products__foamRubber {
    background-image: url(../images/products/foamRubber2.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    /* background-position-x: center ;
    background-position-y: bottom ; */
    background-size: cover;
  }

  #products__nonWovenMaterials {
    background-image: url(../images/products/nonWovenMaterials.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -240px;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__springBlock {
    background-image: url(../images/products/springBlock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__siliconeBall {
    background-image: url(../images/products/siliconeBall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__foamFiller {
    background-image: url(../images/products/foamFiller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }

  #products__glues {
    background-image: url(../images/products/glues.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-position-y: bottom ;
    background-position-x: center;
  }

  .products-section__block:hover {/**/
    transform: scale(1.1);
  }
  
  .products-section__content {
    margin: 5%;
    text-align: center;
    
  }
  
  .products-section__content__title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  .products-section__content__description {
    font-size: 16px;
    line-height: 1.6;
    text-align: start;
  }
  
  /* END Стилі для products-section */

  /* Стилі для products-button */
  .products-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }


  .products-button__link{
    display: inline-block;
    padding: 15px 175px;
    background-color: var(--main-backgrounds-color);
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
    line-height: 20px;
    
  }
  
  .products-button__link:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }

  /* END Стилі для products-button */

  /* Стилі для map */

  .map {
    margin-bottom: 100px;
  }


  /* END Стилі для map */

  /* Стилі для footer */

  .footer {
    padding: 20px 0;
  }

  .footer .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5vw;
  }

  .footer__item {
    max-width: calc(33% - 20px);
  }

  .footer__item__title__logo {
    min-width: 25%;
    max-width: 65%;
    display: block;
    margin: 0 auto;
  }

  .footer__item__title {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  .footer__item__text {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px;
  }

  .footer__item__info {
    font-size: 18px;
    line-height: 2;
  }

  .footer__item__info address {
    font-style: italic;
    font-family: 'Roboto-italic';
  }

  .footer__item__info ul {
    margin: 0;
    padding: 0;
  }

  .contact-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .form-row {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* width: calc(50% - 15px); */
    width: 50%;
    margin-bottom: 15px;
    position: relative;
  }
  .form-group::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--primary-color);
    transform: scaleY(1);
    transition: transform 0.3s ease;
  }
  
  .form-group:hover::after, 
  .form-group textarea:focus + label::after,
  .form-group input:focus + label::after
   {
    transform: scaleY(2);
  }
  
  .form-group label {
    /* flex-basis: 30%; */
    text-align: left;
    padding-bottom: 15px;
  }
  
  .form-group input,
  .form-group textarea {
    flex-basis: 70%;
    border: none;
    /* border-bottom: 1px solid var(--primary-color); */
    /* min-height: 100%; */
    padding-bottom: 5px;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    /* border-color: var(--primary-color); */
    /* box-shadow: 0 0 2px var(--primary-color); */
}

  .form-group textarea {
    resize: none;
  }
  

  .form-group.full-width {
    width: 100%;
  }

  .contact-form__button {
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  .contact-form__button:hover {
    background-color: var(--primary-color);
    color: var(--main-backgrounds-color);
  }

  .hidden {
    display: none;
  }


  .socials li {
    margin-bottom: 15px;
    padding: 5px 0;
    
  }
  
  .socials li a {
    position: relative;
    font-size: 18px;
  }
  .socials li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }

  .socials li:hover a::after {
    transform: scaleX(1);
  }
  
  

/* Стилі для products.html */

/* Стилі для titles */

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  margin-bottom: 40px;
}

.titles .container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}


.titles__title {
  font-size: 65px;
  margin-bottom: 20px;
}

.titles__text {
  font-size: 24px;
}

/* END Стилі для titles */

/*  Стилі для goods */

.goods {
  background-color: var(--secondary-color);
  padding-bottom: 40px;
}


.goods__search {
  display: flex;
  justify-content: center;
  align-items: center; /* Додаємо вирівнювання по вертикалі */
  flex-direction: column;
  padding: 35px 0;
  position: relative;
}

.goods__search__input {
  width: 70%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box; /* Запобігає зміні розміру інпута при виборі з підказки */
  margin-bottom: 20px;
}


#searchInput {
  border: 1px solid var(--primary-color);
}



/* Стилізація підказки для інпуту з пошуком */

.suggestions__container {
  position: relative;
  width: 70%; /* Задайте бажану ширину контейнера .suggestions */
  margin-top: 30px; /* Встановіть бажаний відступ від інпуту внизу */
}

.suggestions {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий контейнер */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); /* Тінь для контейнера */
  border-radius: 5px; /* Закруглені кути контейнера */
  padding: 5px 10px; /* Відступи всередині контейнера */
  top: -45px; /* Відступ від інпута */
  left: 0;
  opacity: 0;
  pointer-events: none; /* Забороняємо взаємодію з невидимим блоком */
  transition: opacity 0.2s ease;
}

.suggestions.active {
  display: flex; /* Змінюємо display на flex, щоб використовувати Flexbox */
  flex-direction: column; /* Дозволяємо підказці переносити елементи на наступний рядок, якщо не вистачає місця */
  justify-content: center; /* Вирівнюємо елементи підказки по лівому краю */
  align-items: flex-start; /* Вирівнюємо елементи по вертикалі по центру */
  opacity: 1;
  pointer-events: auto;
}

.suggestions option {
  display: block;
}

.suggestion {
  cursor: pointer; /* Змінює вигляд курсору при наведенні на елемент підказки */
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
}

.suggestion:hover {
  background-color: blue;
}

.goods__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.goods__products__filters {
  margin: 15px 0;
  flex: 0 0 auto;
  margin-right: 20px;
}

.goods__products__filters__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.goods__products__filters__list__item label {
  font-size: 18px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}


.goods__products__filters__list__item__text {
  position: relative;
}


.goods__products__filters__list__item input {
  cursor: pointer;
}

.goods__products__filters__list__item__text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.goods__products__filters__list__item label:hover .goods__products__filters__list__item__text:after {
  transform: scaleX(1);
  cursor: pointer;
}



.goods__products__list {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.goods__product {
  text-align: left;
  background-color: var(--main-backgrounds-color);
  padding: 20px 15px;
  text-align: center;
  width: 70%;
  border-radius: 5px;
}

.goods__product__image {
  display: flex;
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центруван`ня по вертикалі */
  height: 200px; /* Встановіть висоту за вашими потребами */
  margin-bottom: 35px;
}

.goods__product__image img {
  max-width: 100%;
  max-height: 100%;
}


.goods__product__title {
  font-size: 18px;
  /* margin-top: 10px; */
}

.goods__product__details {
  font-size: 14px;
}

.goods__product__price {
  font-size: 22px;
  font-weight: bold;
  /* margin-top: 10px; */
}


/*  Стилі для goods */

/* END Стилі для products.html */


/* AnoutUS */

.header-section.aboutUs {
  background-image: none;
}


.header-section__content .container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}


.header-section__content__title {
  text-align: center;
  font-size: 45px;
}

.header-section__content__description {
  font-size: 24px;
  line-height: 42px;
}

/* END AnoutUS */


/* Avaptive */

@media screen and  (min-width: 768px) and (max-width: 1023px) {

  .header-section {
    display: flex;
    flex-direction: column;
    gap: 65px;
    position: relative;
    background-image: none;
  }
  
  /* Псевдоелемент, що створює прозорий фоновий шар над основним зображенням */
  .header-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/headerBg.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5; /* Значення від 0 до 1, де 0 - повна прозорість, 1 - повна непрозорість */
    z-index: -1;
  }


  .container {
    max-width: 900px;
    }

  .logo {
    margin-left: 0;
    }

  .header__logo__link__img {
    width: 240px;
    }

  .menu {
    gap: 22px;
    }
    
  .menu__item__link {
    font-size: 14px;
    }

  .company-section .container {
    max-width: 620px;
  }

  .company-section h1 {
    font-size: 48px;
  }

  .company-section p {
    font-size: 16px;
    margin-bottom: 80px;
  }
  


}

/* Стилі для laptop екранів комп'ютерів */

@media screen and  (min-width: 1024px) and (max-width: 1439px) {
  .header {
    margin-bottom: 35px;
  }

  .container {
    max-width: 900px;
  }

  .logo {
    margin-left: 0;
  }

  .header__logo__link__img {
    width: 240px;
  }

  .menu {
    gap: 22px;
  }

  .menu__item__link {
    font-size: 14px;
  }

  .company-section .container {
    max-width: 620px;
  }

  .company-section h1 {
    font-size: 48px;
  }

  .company-section p {
    font-size: 16px;
    margin-bottom: 80px;
  }

  .company-section__more {
    font-size: 16px;
    padding: 10px 30px;
  }

  .products-title {
    padding: 30px 0;
  }

  .products-title__title {
    font-size: 36px;
    line-height: 40px;
  }

  .products-title__text {
    font-size: 16px;
    line-height: 20px;
  }

  .products-section__block {
    min-height: 270px;
    margin-bottom: 30px;
  }

  .products-section__content__title {
    font-size: 22px;
  }

  #products__nonWovenMaterials {
    background-size: 320px;
    background-position-y: -157px;
  }

  #products__glues {
    background-size: 65%;
  }

  .products-button {
    margin-bottom: 75px;
  }

  .products-button__link {
    padding: 10px 150px;

  }

  #map-frame {
    height: 400px;
  }

  .footer__item__info {
    font-size: 14px;
  }

  .footer__item__title {
    font-size: 18px;
  }

  .footer__item {
    max-width: calc(33% - 5px);
  }

  .footer__item__text {
    font-size: 12px;
  }

  .contact-info {
    max-width: 25%;
  }

  .contact-form {
    max-width: 40%;
  }

  .contact-form form {
    font-size: 14px;
  }

  .socials li a {
    font-size: 14px;
  }

}

/* Стилі для laptop L екранів комп'ютерів */

@media screen and (min-width: 1440px) and (max-width: 1699px) {
  .header {
    margin-bottom: 10px;
  }

  .container {
    max-width: 1200px;
  }

  .logo {
    margin-left: 65px;
  }

  .header__logo__link__img {
    width: 260px;
  }

  .menu {
    gap: 30px;
  }

  .menu__item__link {
    font-size: 16px;
  }

  .company-section .container {
    max-width: 650px;
  }

  .company-section h1 {
    font-size: 56px;
  }

  .company-section p {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .company-section__more {
    font-size: 16px;
    padding: 10px 35px;
  }


  .products-title__title {
    font-size: 40px;
    line-height: 44px;
  }

  .products-title__text {
    font-size: 18px;
    line-height: 22px;
  }

  .products-section__block {
    min-height: 300px;
    margin-bottom: 35px;
  }

  .products-section__content__title {
    font-size: 24px;
  }

  #products__nonWovenMaterials {
    background-position-y: -190px;
  }

  #products__glues {
    background-size: 55%;
  }

  .products-button {
    margin-bottom: 90px;
  }

  .products-button__link {
    padding: 10px 150px;

  }


  .footer__item__info {
    font-size: 16px;
  }

  .footer__item__title {
    font-size: 20px;
  }

  .contact-form form {
    font-size: 14px;
  }

  .socials li a {
    font-size: 14px;
  }
}

/* Стилі для більших екранів комп'ютерів */

@media screen and (min-width: 1700px) and (max-width: 1885px) {

  .logo {
    margin-left: 120px;
  }

  .company-section .container {
    gap: 5px;
  }
  
}

/* Стилі для 4k екранів комп'ютерів */

@media (min-width: 2560px) {
  .header {
    margin-bottom: 50px;
  }
  
  .container {
    max-width: 1900px;
  }

  .header__logo__link__img {
    width: 420px;
  }

  .menu {
    gap: 60px;
  }

  .menu__item__link {
    font-size: 24px;
  }

  .contact-button {
    padding: 15px 30px;
    border-width: 2px;
  }

  .company-section .container {
    max-width: 960px;
  }

  .company-section h1 {
    font-size: 70px;
  }

  .company-section p {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 120px;
  }

  .company-section__more {
    padding: 20px 35px;
    font-size: 24px;
  }


  .products-title {
    padding: 60px 0;
  }

  .products-title__title {
    font-size: 54px;
    line-height: 58px;
  }

  .products-title__text {
    font-size: 28px;
    line-height: 30px;
  }

  .products-section__block {
    min-height: 400px;
    margin-bottom: 60px;
  }

  #products__nonWovenMaterials {
    background-position-y: -350px;
  }

  #products__glues {
    background-size: 50%;
  }


  .products-button {
    margin-bottom: 125px;
  }

  .products-button__link {
    font-size: 28px;
    line-height: 30px;
    padding: 20px 190px;
  }


  #map-frame {
    height: 550px;
  }


  .footer__item__text {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .footer__item__info {
    font-size: 22px;
  }

  .footer__item__title {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 100px;
  }

  .contact-form form {
    font-size: 22px;
    line-height: 26px;
    gap: 40px;
  }

  .contact-form__button {
    font-size: 22px;
    line-height: 26px;
    border-width: 2px;
  }

  .form-group::after {
    height: 2px;
  }

  .socials li a {
    font-size: 22px;
    line-height: 26px;
  }
}



/*End Adaptive */